{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{%block css%}
.product_container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
            
}
.product_box{
    margin: 10px;
    height: 400px;
    width: 23%;
    background-color: white;
    border: 2px solid black;
    padding: 20px;

}

.product_box img{
    padding: 15px;
    text-align: center;
    height : 250px;
    width: 90%;
}

.produnctName{
    display: flex;
    justify-content: center;
    padding: 5px;
    text-align: center;
    color: black;
}

.produnctCharge{
    display: flex;
    justify-content: center;
    padding: 5px;
    text-align: center;
    color: black;
}


{%endblock css%}
{%block body%} 
    <h1>Our Products</h1>
    <p>Explore our selection of quality products:</p>
    <ul>
        <li>1. Home Improvement Tools</li>
        <li>2. Cleaning Supplies</li>
        <li>3. Home Decor and Accessories</li>
        <li>4. Garden and Outdoor Equipment</li>
        <li>5. Paints and Finishes</li>
        <li>6. Power Tools</li>
        <li>7. Kitchen Appliances</li>
        <li>8. Bathroom Fixtures</li>
        <li>9. Electrical Tools and Supplies</li>
        <li>10. Plumbing Equipment</li>
        <li>11. Flooring and Tiling Tools</li>
        <li>12. Landscaping Equipment</li>
        <li>13. HVAC Systems</li>
        <li>14. Woodworking Tools</li>
        <li>15. Roofing Materials</li>
    </ul>
    <p>Experience convenience and quality with our products!</p>
    <div class="product_container">
    {%for product in ProductIMAGE %}
    <div class="product_box">
        <div class="productName">{{product.caption}}</div>
        <hr stylr="background-color:red">
        <img src="{{product.image.url}}" alt="product image" >
        
        <div class="productCharge">{{product.charges}}</div>
        <a href="">See More</a>
    </div>    
    {%endfor%}
    </div>
{%endblock body%}
