{% extends "base.html" %}

{%block title%}Quiz{%endblock title%}   
{%block css%}
.color{
    background-color: #white;
}
{%endblock css%}


{%block body%}
    
    <form class = "color" method="POST" id="quesForm"> 
    {% csrf_token %}
    {%for question in Qdata%}
    
    {%for ques,ans in question.items%}
    <h3>{{ques}}</h3>
    {%for correctAnswer,ans1 in ans.items%}
    {%for answer in ans1%}
    <h4><input type="radio" name="{{ques}}" value="{{answer}}">{{answer}}</h4>
    
    {%endfor%}
    {%endfor%} 
    <hr>
    {%endfor%}
    {%endfor%}
    <input type="hidden" name= "score" value=0 id="score">
    
    
    <button id="submit-btn" type="submit" style="margin-top:20px; background-color:green" onclick="result()">submit</button>
    </form>
   

    
{%endblock body%}

{% block script %}
        function result(){
            
            var score = 0;

            var q2;

            {%for question in Qdata%}

            {%for ques,ans in question.items%}
                var result;
                {%for answ in ans%}
                    result = "{{answ}}";
                {%endfor%}
                
                q2 = document.getElementsByName("{{ques}}");
                
                for(let i=0;i<q2.length;i++){
                    if(q2[i].checked){
                        
                        if(q2[i].value == result){
                            score +=1;
                        }
                    }
                    
                }
                
                console.log(result);
                
                
                 

            {%endfor%}
            {%endfor%}
            document.getElementById('score').value = score ;
            console.log(score);
            
            document.getElementById('quesForm').submit();
        }
        
{%endblock script%}

