{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{%block body%} 

    <h1>Our Services</h1>
    <p>At Urban Services, we offer a diverse range of solutions:</p>
    <ul>
        <li>Household Services</li>
        <li>Plumbing and Electrical</li>
        <li>Gardening and Landscaping</li>
        <li>Cleaning Services</li>
        <li>Painting and Decorating</li>
        <li>Professional Consultations</li>
        <li>Appliance Repair</li>
        <li>Interior Design</li>
        <li>Furniture Assembly</li>
        <li>Window Cleaning</li>
        <li>Home Security Services</li>
        <li>Carpet Cleaning</li>
        <li>Handyman Services</li>
        <li>Roofing Services</li>
        <li>Moving Services</li>
        <li>Laundry Services</li>
        <li>Home Organization</li>
    </ul>
    <p>Our dedicated professionals are committed to ensuring top-quality services for our customers.</p>

{%endblock body%}