{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{%block css%}
.service_container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
            
}
.service_box{
    margin: 10px;
    height: 400px;
    width: 23%;
    background-color: white;
    border: 2px solid black;
    padding: 20px;

}

.service_box img{
    padding: 15px;
    text-align: center;
    height : 250px;
    width: 90%;
}

.servicetName{
    display: flex;
    justify-content: center;
    padding: 5px;
    text-align: center;
    color: black;
}

.serviceCharge{
    display: flex;
    justify-content: center;
    padding: 5px;
    text-align: center;
    color: black;
}


{%endblock css%}
{%block body%} 

    <h1>Our Services</h1>
    <p>At Urban Services, we offer a diverse range of solutions:</p>
    <ul>
        <li>Household Services</li>
        <li>Plumbing and Electrical</li>
        <li>Gardening and Landscaping</li>
        <li>Cleaning Services</li>
        <li>Painting and Decorating</li>
        <li>Professional Consultations</li>
        <li>Appliance Repair</li>
        <li>Interior Design</li>
        <li>Furniture Assembly</li>
        <li>Window Cleaning</li>
        <li>Home Security Services</li>
        <li>Carpet Cleaning</li>
        <li>Handyman Services</li>
        <li>Roofing Services</li>
        <li>Moving Services</li>
        <li>Laundry Services</li>
        <li>Home Organization</li>
    </ul>
    <p>Our dedicated professionals are committed to ensuring top-quality services for our customers.</p>

    <div class="service_container">
        {%for service in ServImage %}
        <div class="service_box">
            <div class="serviceName">{{service.caption}}</div>
            <hr stylr="background-color:red">
            <img src="{{service.image.url}}" alt="service image" >
            
            <div class="serviceCharge">{{service.charges}}</div>
            <a href="/services/{{service.caption}}">See More</a>
        </div>    
        {%endfor%}
        </div>



{%endblock body%}

{% comment %} {% url '/Labours' serviceType=service.caption %} {% endcomment %}